go 1.21.5

use (
    ./go_study/study_20_interface
    ./go_study/study_21_function2
    ./go_study/study_22_datastructure
    ./go_study/study_23_error
    ./go_study/study_24_goroutine
    ./go_study/study_25_channel
    ./go_study/study_26_SOLID
    ./go_study/study_27_test
    ./go_study/study_28_generic
)
